<div ch-side-bar app-name="SampaioTur" logo-url="assets/images/logo-brand.png">
  <ch-side-bar-menu>
    <ch-side-bar-link
      [has-children]="true"
      icon="fas fa-paper-plane fa-icon"
      [description]="'Viagens'"
    >
      <ch-side-bar-link
        [route]="['/backoffice/viagens']"
        icon="fas fa-chevron-right fa-icon"
        [description]="'Cadastro de viagens'"
      >
      </ch-side-bar-link>
    </ch-side-bar-link>
    <ch-side-bar-link
      [route]="['/backoffice/relatorios']"
      icon="fas fa-chart-bar fa-icon"
      [description]="'Relatórios'"
    ></ch-side-bar-link>
  </ch-side-bar-menu>
</div>
<div class="ch-content">
  <header ch-top-bar>
    <ch-top-bar-menu class="unprintable">
      <div class="ch-header-nav-button ch-dropdown ch-user" href="#">
        <button class="ch-avatar ch-dropdown-toggle" type="button">
          <img
            class="ui avatar image"
            [src]="user?.avatarUrl"
            *ngIf="user?.avatarUrl"
          />
          <img
            class="ui avatar image"
            src="assets/images/avatar.png"
            *ngIf="!user?.avatarUrl"
          />
        </button>

        <div class="ch-dropdown-content bottom right" tabindex="-1">
          <div class="ch-user-container">
            <div class="ch-user-header">
              <img
                class="avatar"
                [src]="user?.avatarUrl"
                *ngIf="user?.avatarUrl"
              />
              <img
                class="avatar"
                src="assets/images/avatar.png"
                *ngIf="!user?.avatarUrl"
              />
              <div class="info">
                <strong class="name">{{ user?.firstName }}</strong>
                <div class="email">{{ user?.email }}</div>
              </div>
            </div>

            <div class="ch-user-action">
              <a noAction (click)="signout()">
                <i class="fal fa-sign-out fa-icon"></i>
                <span class="label"> Sair </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </ch-top-bar-menu>
  </header>

  <div class="ui padded grid stackable">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
