.ch-login:before {
  background-size: auto !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 50%;
}
