@using Sampaio.Shared.Config
@model Sampaio.Domain.EmailsViewModels.ResetPasswordEmailVm
@inject AppConfig AppConfig
@{
    Layout = "_Layout";                           
    var urlResetPwd = $"{AppConfig.AppUrl}/reset-password/{Model.Token}";
    ViewBag.Title = "Password Reset";
}
<style>
   div.container6 {
     height: 10em;
     display: flex;
     align-items: center;
     justify-content: center }
   div.container6 p {
     margin: auto; }
</style>
<div>
    <p>
        Hello @Model.Name
    </p>
    <p>
        You have been prompted to reset your account password.
    </p>
    <p>
        If you are trying to reset your account password, please click the button below:
    </p>
    <p>
         <div class="container6" style="color: #FFF; background-color: #1791f0; border-radius: 10px; height: 25px; width:150px; border-color: #1791f0">
                <p><a href="@urlResetPwd" style="color:white; text-decoration: none">Change password</a>
            </div>
    </p>
    <p>
        The above link is valid for 2 hours. 
    </p>
</div>