@using Sampaio.Shared.Config
@model Sampaio.Domain.EmailsViewModels.ResetPasswordEmailVm
@inject AppConfig AppConfig
@{
    Layout = "_Layout";
    var urlResetPwd = $"{AppConfig.AppUrl}/password-recover/{Model.Token}";
    ViewBag.Title = "Recuperação de senha";
}
<style>
   div.container6 {
     height: 10em;
     display: flex;
     align-items: center;
     justify-content: center }
   div.container6 p {
     margin: auto; }
</style>
<div>

    <p>
        Prezado @Model.Name
    </p>
    <p>
        Foi solicitado uma requisição para resetar a senha de sua conta.
    </p>
    <p>
        Caso você esteja tentando resetar a senha de acesso da sua conta clique no botão abaixo:
    </p>
    <br />
    @*<div class="container6" style="color: #FFF; background-color: #1791f0; border-radius: 10px; height: 25px; width:150px; border-color: #1791f0">
        <p><a href="@urlResetPwd" style="color:white; text-decoration: none">Alterar senha</a>
    </div>*@
<p>
    <div align="center">
        <!--[if mso]>
            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="@urlResetPwd" style="height:53px;width:200px;" arcsize="8%" stroke="f" fillcolor="##1791f0">
            <w:anchorlock/>
            <center>
        <![endif]-->
        <a href="@urlResetPwd"
           style="        background-color: #1791f0;
        border-radius: 4px;
        color: #ffffff;
        display: inline-block;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 53px;
        text-align: center;
        text-decoration: none;
        width: 200px;
        -webkit-text-size-adjust: none;">Alterar senha</a>
        <!--[if mso]>
            </center>
            </v:roundrect>
        <![endif]-->
    </div>
</p>
    <p>
        O link acima é válido por 2 horas.
    </p>
    <br />
</div>